<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
                Bienvenue !
            {% endblock %}
		</title>
		<script src="https://cdn.tailwindcss.com"></script>

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="bg-gray-100 min-h-screen flex flex-col items-center justify-start p-6">
		
		<!-- Contenu spécifique à chaque page -->
		{% block body %}
        
        {% endblock %}
	</body>
</html>
